
@import "@/app/variables";


.icon{
    font-size: 1.3em;
    margin-right: 5px;
}
.listGroup{
    overflow-y: auto;
    max-height: 250px;
}
.item{
    color: $secondary-color;
}
.modal{
    z-index: 4000;
}