@import "../../shared/variables.scss";
.SideMenu {
  width: 250px;
  height: 100%;
  // background-image: linear-gradient($secondary-color,$tertiary-color);
  flex-shrink: 0;
  background-color: $white;
  border-right: 2px $default-color solid;
}
.itemsGroup {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 15px;
  width: 90%;
  height: 100%;
  background-color: $white;
}
.item {
  color: $secondary-color;
  padding: 8px;
  padding-left: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 6px;
}
.item:hover {
  background-color: $primary-color;
  color: $white;
}
