@import '@/app/variables';
.container{
    background-color: $white;
    margin-top: 5px;
    padding: 10px;
    padding-left:20px;
    height: 93%;
}
.icon{
    font-size: 1.5em;
    margin-right: 5px;
}
.item{
    color: $secondary-color;
}
.header{
    color: $secondary-color;
}
.clipboardIcon{
    font-size: 1.6em;
}