.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: yellow;
}
.nav{
    height: 60px;
    width: 100%;
    background-color: red;
}
.page{
    width: 100%;
    background-color: green;
    flex-grow: 1;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
}
.sideBar{
    width:200px;
    height: 100%;
    background-color: blue;
}
.contents{
    flex-grow: 1;
    height: 100%;
    background-color: white;
}