@import '../../../../shared/variables.scss';

.itemsGroup {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
  }
  .item {
   flex-grow: 1;
  }
  .link{
    color: $secondary-color;
    padding: 8px;
    display: flex;
    background-color: $white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
    border-bottom: 1px solid $white
  }
  .link:hover{
    // background-color: $primary-color;
    border-bottom-color: $primary-color;
    // color: $white;
    color: $primary-color;
  }
  .active{
    // background-color: $primary-color;
    // color: $white;
    border-bottom-color: $primary-color;
    // color: $white;
    color: $primary-color;
  }